
.blog-index-page-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.blog-index-page-right, .blog-index-page-left {
    height: 100vh;
    color: white;
    width: 70vw;
    background-color: black;
    margin: 0 auto;
    position: relative;
}



.blog-index-page-right {
    transform: skewX(-10deg);
}

.blog-index-page-left {
    transform: skewX(10deg);
}

.blog-index-top {
    display: flex;
}

.blog-index-title {
    color: white;
    margin: auto;
    padding: 0.5em;
    text-align: center;
}

.blog-index-article-description, .blog-index-article-date {
    width: 50vh;
    position: absolute;
    top: 75%;
    max-width: 50vh;
    text-align: center;
}

.blog-index-article-description {
    color: white;
    transition: top 0.3s;
}

.blog-index-page-right:hover a .blog-index-article-description,
.blog-index-page-left:hover a .blog-index-article-description{
    top: 72%;
}

.blog-index-article-date {
    color: black;
    font-weight: 600;
}

.blog-index-page-right .blog-index-article-description {
    transform-origin: top left;
    left: 1em;
    transform: rotate(270deg);
}

.blog-index-page-left .blog-index-article-description {
    transform-origin: top right;
    right: 1em;
    transform: rotate(90deg);
}

.blog-index-page-right .blog-index-article-date {
    transform-origin: top left;
    left: -3em;
    transform: rotate(270deg);
}

.blog-index-page-left .blog-index-article-date {
    transform-origin: top right;
    right: -3em;
    transform: rotate(90deg);
}


/* unskew the text so it isn't unaturally stanted */
.blog-index-page-right a .blog-index-article-description h4, 
.blog-index-page-right .blog-index-article-date p {
    transform:  skewX(-10deg);
}

.blog-index-page-left a .blog-index-article-description h4
.blog-index-page-right .blog-index-article-date p {
    transform:  skewX(10deg);
}

.blog-index-page-left .blog-index-article-img {
    position: absolute;
    left: 0px;
}

.blog-index-page-right .blog-index-article-img {
    position: absolute;
    right: 0px;
}

.blog-index-page-left .blog-index-article-img img {
    transform:  skewX(-10deg) translateX(-25%);
}

.blog-index-page-right .blog-index-article-img img {
    transform:  skewX(10deg);
}

.blog-index-article-img img {
    width: 90vw;
    position: relative;
}

.blog-index-article-img {
    overflow: hidden;
    width: 55vw;
    height: 70vh;
    top: 15%;
    transition: top 0.4s;
}
 
/* mobile */
@media (max-width: 711px) {

    .hide-on-mobile {
        display: none;
    }
}