
.blog-index-page-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
}


.articles-container {
    margin: 1em 0;
    width: 100%;
    min-height: 100vh;
}
.articles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1em;
    height: min-content;
    width: 100%;
}

.article-card {
    width: 14em;
    height: 8em;
    text-align: center;
    margin: 1em;
    position: relative;
    -webkit-box-shadow: 4px 6px 14px 0px rgba(0,0,0,0.34);
    -moz-box-shadow: 4px 6px 14px 0px rgba(0,0,0,0.34);
    box-shadow: 4px 6px 14px 0px rgba(0,0,0,0.34);
    overflow: hidden; /* Allows us to slide the panels outside the container without them showing */
}

.curtain__wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
  }
        
  .curtain__panel {
    background: grey;
    height: 100%;
    width: 50%; /* Each panel takes up half the container */
    float: left; /* Makes sure panels are side-by-side */
    position: relative; /* Needed to define the z-index */
    z-index: 2; /* Places the panels in front of the prize */
    transition: all .3s ease-out; /* Animates the sliding transition */
  }
  
/* Slide the panel to the left out of the container */
.curtain__panel--left {
    transform: translateX(-100%);
  }
  
  /* Slide the panel to the right out of the container */
  .curtain__panel--right {
    transform: translateX(100%);
  }
    
  .curtain__prize {
    background: #333;
    position: absolute; /* Forces the prize position into the container start */
    z-index: 1; /* Places the prize behind the panels, which are z-index 2 */
    width: 100%;
    height: 100%;
  }

  /* Slide the first panel in */
  .article-card:hover > .curtain__wrapper > .curtain__panel--left {
    transform: translateX(0);
  }
          
  /* Slide the second panel in */
  .article-card:hover > .curtain__wrapper > .curtain__panel--right {
    transform: translateX(0);
  }

  .article-card:hover > p {
    opacity: 1;
  }

.article-card:hover {
    cursor: pointer;
}

.article-card img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.3;
}

.article-card h2, .article-card p {
    z-index: 3;
    position: absolute;
}

.article-card h2 {
    left: 0;
    right: 0;
    top: 2rem;
    width: 70%;
    margin: 0 auto;
}

.article-card p {
    left: 0;
    right: 0;
    top: 4rem;
    width: 50%;
    margin: 0 auto;
    opacity: 0;
    transition: all .3s ease-out; 

}

 
/* mobile */
@media (max-width: 711px) {

    .hide-on-mobile {
        display: none;
    }
}