.main-footer {
    position: relative;
}

.footer-background {
    background-color: #000000;
    padding: 4em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:  repeat(3, min-content);
    color: white;
    text-align: center;
}

.footer-background svg {
    color: white;
}

.footer-contact-info { 
    grid-area: 1 / 2 / 4 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-contact-info p {
    margin: 0.5rem auto;
}

.footer-links a {
    color: white;
    height: 2vh;
    font-size: 2em;
    text-decoration: none;
    margin: 1em 1em;
}


@media (max-width: 711px) {

    .footer-background {
        padding: 2em;
    }

    .footer-contact-info {
        grid-area: 1 / 1 / 4 / 4;
    }
}