.top-bar {
    position: absolute;
    font-size: 3rem;
    top: 0.5rem;
    left: 0.5rem;
    background-color: white;
    border: none;
    transition: background-color 0.3s;
}

.top-bar:focus {
    outline: 0;
}

.nav-button {
    float: left;
    margin: 1rem;
}

.top-bar:hover {
    cursor: pointer;
    background-color: rgb(212, 212, 212);
}

.sidebar {
    height: 100%;
    width: 0; 
    position: fixed; 
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #323232;
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }
  
  .sidebar a, .sidebar button {
    padding: 10px 8px 10px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    background: none;
    border: none;
    width: 100%;
    text-align: left;
  }

  
  .sidebar a:hover, .sidebar button:hover {
    background-color: black;
    cursor: pointer;
  }

  .sidebar a:focus, .sidebar button:focus {
    outline: 0;
    background-color: black;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
    width: fit-content;
    padding: 8px 20px;
  }
  

  .submenu a{
      background-color: #161616;
      color: white;
      padding: 10px 8px 10px 45px;
      font-size: 18px;
    }

  .screen-overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: 50%;
      background-color: black;
      z-index: 1;
  }
  
  .hidden {
    display: none;
}
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }